#login_container {
	background-color: #fff;
	border-radius: 20px;
	box-shadow: 0.5px 10px 15px rgba(24, 24, 24, 0.2);
	padding: 25px;
}

#login_container h1 {
	color: #181818;
}

#login_container button {
	background-color: #181818;
	border: 2px solid #ffaa00;
	color: #ffaa00;
	align-items: center;
	width: 100%;
}

#login_container button:hover {
	background-color: #ffaa00;
	border: 2px solid #181818;
	color: #181818;
}

@media (min-width: 768px) {
	#login_container button {
		margin: 10px auto;
		width: 30%;
	}
}
