#btn {
	background-color: #fca7be;
	border: 1px solid #181818;
	color: #181818;
	width: 100%;
}

#btn:hover {
	background-color: #fedbd9;
	color: #181818;
}

@media (min-width: 768px) {
	#btn {
		margin: 10px auto;
		width: 30%;
	}
}
