header {
	background-color: #ffaa00;
}

#subnav a,
#btnUser a {
	color: #181818;
}

#subnav a:hover {
	color: #eeeeee;
}

#marketIcons i {
	font-size: 1.3em;
}

#formNav input {
	box-shadow: none;
}

#formNav input:focus {
	border: 1px solid #ffaa00;
}

#formNav input::placeholder {
	color: #181818;
}
