header {
	background-color: #fca7be;
}

#navbar_logo img {
	height: 50px;
	margin-right: 0.1em;
}

h2 {
	color: #181818;
	font-size: 1.6rem;
}

#marketIcons i {
	font-size: 1.3em;
}

#formNav input {
	box-shadow: none;
}

#formNav input:focus {
	border: 2px solid #fca7be;
}

#formNav input::placeholder {
	color: #181818;
}
