#nav_conainter {
	padding-top: 10px;
	background-color: #cb9046;
	text-align: center;
}

@media (max-width: 576px) {
	#nav_button {
		padding-top: 10px;
		padding-bottom: 10px;
	}
}

#nav_conainter p {
	font-size: 1.5em;
	font-weight: bold;
}

#subnav_container {
	border-bottom: 1px solid black;
}

#subnav_container a {
	color: #000;
	padding: 0.5em 0.8em;
	cursor: pointer;
	text-decoration: none;
}
